/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* GENERALI */
 body {
  font-family: "Montserrat", Normal;
 }

 .container {
   margin: 0 auto;
   width: 1280px;
   height: 100%;
   background: green;
 }

 .clearfix::after {
   content:'';
   display: table;
   clear: both;
 }

 .col {
   float: left;
 }
 /* FINE GENERALI */

 /* INIZIO HEADER */
 header .nav .col {
   float: left;
 }
 header {
   background-color: white;
   height: 800px;
 }
 header nav {
   height: 80px;
   background-color: #cbd6e2;
 }
 header nav .menu li {
   display: inline-block;
   padding: 20px 25px;
 }
 header nav .menu li a:hover {
   color: orange;
 }
 header .nav .menu li a {
   margin-right: 10px;
   font-size: 13px;
 }
 header nav .menu-left{
   width: 50%;
   height: 100%;
 }
 header nav .menu-right {
   width: 50%;
   height: 100%;
   text-align: right;
   text-decoration: none;
   /* dove va messo text-decoration:none? */
 }
 header nav .menu .Login {
   border: 2px solid green;
   border-radius: 3px;
   padding: 5px;
   background-color: white;
 }
 header nav .menu .GetHubSpotFree {
   border: 2px solid Orange;
   border-radius: 3px;
   padding: 5px;
   background-color: Orange;

 header nav {
   height: 80px;
   background-image:url();
 }
 nav .globe {
  <i class="fas fa-globe-europe"></i>
  /* NON RIESCO A UTILIZZARE IL POTERE DI FONT AWESOME */
 }
 /* FINE HEADER */
