/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: auto;
  width: 1280px;
  height: 890px;
  background: lightgrey;
}
.clearfix::after {
  content:'';
  display: table;
  clear: both;
}
.col {
  float: left;
}
p.text {
  font-size: 13px;
  color: #0b325a;
  line-height: 15px;
}
/* FINE REGOLE GENERALI */

/* INIZIO HEADER */
header nav {
  border-bottom: 1px solid black;
}
header .nav .col {
  float: left;
}
header {
  background-color: white;
}
/* Inizio Top Menu */
header nav.nav-top {
  height: 80px;
  background-color: #f5f8fa;
  display: block;
}
header nav.nav-bottom {
  height: 80px;
  background-color: white;
  display: block;
}
header nav .logo {
  height: 80px;
  line-height: 80px;
}
header nav .logo img {
  vertical-align: middle;
}
header nav .menu li {
  display: inline-block;
  line-height: 80px;
  padding: 0 10px;
  font-size: 12px;
}
header nav .menu li a:hover {
  color: lightgrey;
}
header nav .menu li a {
  font-size: 13px;
  color: #33475b;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
header nav .menu-left{
  width: 50%;
  height: 100%;
  text-align: left;
}
header nav .menu-right {
  width: 50%;
  height: 100%;
  text-align: right;
}
header nav .menu .login {
  border: 1px solid orange;
  border-radius: 5px;
  padding: 13px 30px 12px 25px;
  background-color: white;
}
header nav .menu .button {
  border: 1px solid White;
  border-radius: 5px;
  padding: 13px 8px 12px 8px;
  background-color: Orange;
}
header nav .menu .button a:hover {
  color: lightgrey; /*???*/
}
/* Fine top menu */

/* Inizio bottom menu */
header nav .logo {
  float: left;
  width: 70%;
}
/* HO CANCELLATO MOLTE REGOLE CHE NON AVEVANO EFFETTO,
 MA SONO CONVINTO CHE IL POSIZIONAMENTO DEL MENU TRAMITE
 LA LARGHEZZA DI .LOGO SIA ERRATO*

/* Fine bottom menu */

/* JUMBOTRON */
header .jumbotron {
  position: relative;
  background-size: 1350px;
  height: 800px;
  background-repeat: no-repeat;
  background-image: url(../img/jumbotron.png);
}
 header .teaser h1{
  position: absolute;
  top: 5%;
  font-size: 40px;
  color: #33475b;
 }
header .teaser p {
  position: absolute;
  top: 20%;
  font-size: 15px;
  color: #33475b;
}
header .teaser-button {
  position: absolute;
  border: 1px solid White;
  border-radius: 5px;
  padding: 18px 22px 18px 22px;
  background-color: Orange;
  left: 0;
  bottom: 65%;
  font-size: 12px;
}
header nav .teaser-button a:hover {
  color: lightgrey;
}
 /* FINE JUMBOTRON */
 /* FINE HEADER */

 /* INIZIO INFO-SLOGAN*/
main .info {
  position: relative;
  text-align: center;
  margin: auto;
  width: 1280px;
  height: 1280px;
  background: #e5f1f5;
}
main .cube img {
  text-align: center;
  margin: 35px auto;
  width: auto;
  height: 180px;
}
main .info h2 {
  text-align: center;
  font-family: inherit;
  text-transform: capitalize;
  color: #33475b;
}
main .info p {
  text-align: center;
  padding: 15px 0 7px 0;
}
main .info hr {
  height: 3px;
  width: 200px;
  margin: 3px auto;
  border: 2px solid black;
}
 /* FINE INFO-SLOGAN */

 /* INIZIO COLONNA ORIZZONTALE */
main #first-feature {
  position: relative;
  background-position: top;
  margin: auto;
  width: 900px;
  height: 250px;
  background: white;
  bottom: 500px;(appena messo questo blocco ha collassato verso il bottom, come lo sistemo?)
  border-radius: 3px;
 }
main #first-feature .book img {
  position: left;
  margin: 15px 40px;
  width: auto;
  height: 100px;
 }
main #first-feature .col h3 {
  text-align: right;
  font-family: inherit;
  text-transform: capitalize;
  color: #33475b;
 }
main #first-feature p{
   text-align: center;
   padding: 15px 0 5px;
 }
main #first-feature hr {
  height: 3px;
  width: 200px;
  margin: 25px auto;
  border: 2px solid black;
 }
/* FINE COLONNA ORIZZONTALE*/

/* INIZIO COLONNA VERTICALE UNO */
main #feature .col {
  width: 500px;
  height: 500px;
  background-color: red;
}
/* FINE COLONNA VERTICALE UNO */

/* INIZIO COLONNA VERTICALE DUE */

/* FINE COLONNA VERTICALE DUE */













 /* FINE INFO */
